{%extends 'base.html'%}
{%block title%}Merogram{%endblock%}
{%block content%}
{%for message in messages%}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%endfor%}
<!-- scroll bar -->
<div class="container mt-5 d-flex align-content-center flex-column" style="width:100vh;height: 100vh;">
  {%for post in posts reversed%}
  <div class="card mb-4" style="width: 30rem;height: 100vh;">
    {% comment %} <!-- {% load static %} --> {% endcomment %}
    {% comment %} <!-- <img src="{%static '{{post.pic}}'%}" class="card-img-top" alt="not loaded"> --> {% endcomment %}
    <img src="{{post.pic.url}}" class="card-img-top h-75" alt="not loaded">
    <div class="card-body">
      <h2>
       <a class="link-dark" href="like?post_id={{post.id}}">
          <i class="bi bi-heart-fill"></i>
        </a> 
        {{post.like_count}}
      </h2>
      <p class="card-text text-secondary">{{post.userr}}:{{post.caption}}</p>
      <div class="comment text-primary mb-2">
        <a href="commentPost/{{post.id}}">
          See all comments
        </a>
      </div>
      <form action="commentPost/{{post.id}}" method="post">
        {% csrf_token %}
          <div class="row m-1">
            <div class="img col-md-2"><img src="{{pic.proflie_pic.url}}" alt="" height="30" width="30" class="rounded-circle"></div>       
            <input class="col-md-7 rounded-3 text-dark" type="text" placeholder="post a comment here" name="comment">
            <input type="hidden" name="sno" value="{{post.id}}">
            <button class="btn btn-primary btn-sm col-md-2 ms-2">Post</button>
          </div>
      </form>
      <br><br>
      <div class="comments">
        <div class="card-text text-secondary">{{comments}}</div>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
{%endblock content%}