{%extends 'base.html'%}

{%block content%}
<div class="container h2 mt-2 w-100">
    {%for s_user in users%}
    <div class="card" style="width: 18rem;">
        <img src="{{s_user.proflie_pic.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">username: {{s_user.username}}</h5>
          <p class="card-text">{{s_user.email}}<p>
          <a href="profile/{{s_user.username}}" class="btn btn-primary">Go to profile</a>
        </div>
      </div>
    {%endfor%}
</div>
{%endblock content%}